*.pyc
*.[oa]
*~
*.zip
*.png
.Python
bin/
media/t*png
media/profpic*png
todo.txt
settings.py
temp.txt
probmap

arc-models/*.pdf
arc-models/*_flymake.py
arc-models/diffusionwriteup.synctex.gz

*.7

junk.py

*.rel
*.aux
*.bbl
*.bib
*.blg
*.log
*.toc

.idea/*
.idea*
.ipynb*
.#*
ISRID*xlsx
ISRID*csv
