
{% include "header.html" %}



<div style =' margin-left: 0% ; margin-top: 130px; margin-right: 0%; margin-bottom: 0px; color:black; overflow-y:hidden; overflow-x:hidden;'  >
<br><br>

<center><h1 style ='color:#330066'><b> {{Name}} </b></h1></center>
<br><br>

<center>
	<div style = 'width:500px;height:auto;border:double;border-color:black;border-width:5px;background-image:url("/media/blueframe.jpg")'>

	
	<br><br>
	
	<image src = '{{profpic}}' style = 'border:solid; border-width:5px;border-color:black;' width = '{{xsize}}'  height = '{{ysize}}' >
	
	<br><br><br>
	
	</div>
</center>

	<br><br><br>
<div style ='margin-left:175px; padding-left:20px; background-color:#FFFF99 ; border:double; width:700px'>
<br>

<b><u>Name of Registerd Researcher:</u>&nbsp;&nbsp;&nbsp; {{RegisteredUser}}</b>

<br><br>

<b><u>Email of Registerd Researcher:</u>&nbsp;&nbsp;&nbsp; {{Email}}</b>


{% if websitexists %}
<br><br>
<b><u>Website of Research Organization:</u>&nbsp;&nbsp;&nbsp;</b> <a href="http://{{website}}" target ="_blank">{{website}}</a>
{% endif %}
<br><br>
<br>
<center> <i style ='font-size:18px'> <b><u>Active Account Models:</u></b> </i></center><br>

{% for i in modellst %}
<center><b> <form action ='/model_Profile/' name = 'inputform2'>
			<input type = 'hidden' name ='Account' value = '{{i.2}}'>
			<input type = 'hidden' name ='Model' value = '{{i.0}}'>
			<button type = 'submit' style ='border:0px; background-color:#FFFF99;color:blue;cursor:pointer'> <u><b> {{i.0}} </b></u> </button>
			</form> </b></center>
<br>
{{i.1}}

<br><br>

{% endfor %}







</div>

</div>
<br><br>
<center>
	<form action = "/returnfrom_profile/" method = "get" name = "Return from Profile">
		
		
		<button name = "Return To from Profile" type = "submit" value = "HTML">
		Return to Leaderbaord
		</button>
		
	</form>
</center>
	<br><br>



{% include "footer.html" %}
	
