<!DOCTYPE HTML Public "-//W3C//DTD HTML 4.01//EN">
<html lang = "en">



<body  marginwidth="0px" marginheight="0px" leftmargin="0px"  topmargin="0px" style ='background : url("/media/background.jpg")' npadding ='0px' height = '100%'  style ='overflow-x: hidden; overflow-y:scroll' >

<div style = 'width: 1050px; margin-left:auto;margin-right:auto;background : url("/media/lightgreen.jpg") ;padding-left:0px'>
<div style ='border:double; color:black; border-width:10px; position:absolute; top:0; width: 1030px;background-color:#780000;height: 110px; overflow-x:hidden;overflow-y:hidden'>
<div style = 'margin-left: 30px ; margin-top: 0px;margin-right: 30px; margin-bottom: 0px; font-size:10px'  >
	<h1 style = 'color :white'>
		
		<div style ='float:left; border:double;color:white;height:67px'> <img src = "/media/mason_logo.gif" width ='107' height = '67'  > </div>
		<div style ='float:right; border:double;color:white;height:67px'> <img src = "/media/mason_logo.gif" width ='107' height = '67' > </div>
		
		
		<center>
		George Mason University:<br>
		Lost Person Model Rating System<br>
		</center>
		<div style = 'margin-top:18px'>
		<div style ='font-size:14px;padding-left:250px; position:absolute; width:95%'>
		[<a href="/main/" style ='color:white'> Log Out </a> | <a href="/hyper_leaderboard/" style ='color:white'> Leaderboard </a> ]
		&nbsp;&nbsp;&nbsp;&nbsp;<i>*Account Manage*</i>&nbsp;&nbsp;&nbsp;&nbsp;
		[  <a href="https://github.com/ctwardy/Pmap-Score/issues?sort=created&direction=desc&state=open" style ='color:white' target="_blank" > Issue Tracker </a> | <a href="/help/" style ='color:white' target="_blank"> Help </a>]</div>
		</div>

				
	</h1>
</div>	
</div>



<div style =' margin-left: 0% ; margin-top: 130px; margin-right: 0%; margin-bottom: 0px; color:black; overflow-y:hidden; overflow-x:hidden;'  >

<center><div>
<br>

<h1><b>
		Account Management
		
	</b></h1>
	<br>
	<div style = 'border:double; width:450px;background : url("/media/wood.gif")'>
	<br><br>
	
	
	<form action = "/edit_user/" method = "get" name = "Edit user">
	
		<button name = "Edit user" type = "submit" value = "HTML" style = 'width:200px;height:25px'>
		Edit User Information
		</button>
	</form>
	
	<br><br>
	
	
	<form action = "/edit_inst/" method = "get" name = "Edit institution">
	
		<button name = "Edit institution" type = "submit" value = "HTML" style = 'width:200px;height:25px'>
		Edit Institution Information
		</button>
	</form>
	
	
	
	<br><br>
	
	<form action = "/edit_pw/" method = "get" name = "Change Password">
	
		<button name = "Change Password" type = "submit" value = "HTML" style = 'width:200px;height:25px'>
		Change Password
		</button>
	</form>
	
	
	
	<br><br>
	
	<form action = "/edit_picture/" method = "get" name = "Change Picture">
	
		<button name = "Change Picture" type = "submit" value = "HTML" style = 'width:200px;height:25px'>
		Edit Account Picture
		</button>
	</form>
	
	
	
	<br><br>
	
	<form action = "/delete_model/" method = "get" name = "Delete Model">
	
		<button name = "Delete Model" type = "submit" value = "HTML" style = 'width:200px;height:25px'>
		Delete Model
		</button>
	</form>
	
	<br><br>
	
	
	
	
	<form action = "/delete_account/" method = "get" name = "Delete Account">
	
		<button name = "Delete Account" type = "submit" value = "HTML" style = 'width:200px;height:25px'>
		Delete Account
		</button>
	</form>
	
	<br><br>
	

	</div>
	<br><br>
	<form action = "/account/" method = "get" name = "Return to Main Menu">
	
		<button name = "Return To Main Menu" type = "submit" value = "HTML" style = 'width:200px;height:25px'>
		Return To Account Menu
		</button>
	</form>
	
	<br><br>	
	


</div>	</center>


</div>


	
	<hr color = 'Navy'>
	<p>
	
		  <center ><i><b>GMU: C4I Center --- Mr. Nathan Jones (njonesh@gmu.edu) -- Dr. Charles Twardy ----- (Funded by the National Science Foundation)</b></i></center>
	</p>
	<br>
	
</div>
	
</body>
</html>


