{% extends 'base.html' %}

{% block title %}
Account{{ block.super }}
{% endblock %}

{% block content %}
    {{ block.super }}
    {% if info %}
        <p class='info'>{{ info }}</p>
    {% endif %}
    <h3>Account Name: {{ Name }}</h3>
    <div id='profpic'>
        <img src='{{ profpic }}' width='{{ xsize }}' height='{{ ysize }}'/>
    </div>
    <div id='account-menu'>
        <form action='/model_menu/' method='get'>
            <select name='model_in'>
                <option value='0'>-- Select model to test --</option>
                {% for modelname in modelname_list %}
                    <option>{{ modelname }}</option>
                {% endfor %}
            </select>
            <button>Submit</button>
        </form>
        <br />
        <a href='/batch_test_upload/'>Upload batch test</a>&nbsp;|&nbsp;
        <a href='/Leader_model/'>View leaderboard</a>&nbsp;|&nbsp;
        <a href='/new_model/'>Add new model</a><br />
        <a href='/Manage_Account/'>Manage account</a>&nbsp;|&nbsp;
        <a href='/log_out/'>Log out</a>
    </div>
{% endblock %}
