{% include "header.html" %}


<div style =' margin-left: 0% ; margin-top: 130px; margin-right: 0%; margin-bottom: 0px; color:black; overflow-y:hidden; overflow-x:hidden;'  >

<div style ='padding-left:200px'>

<br><br>
<h1><b style ='padding-left:150px'>
		Edit institution Information
		
	</b></h1>
	<br>
	{% if fail %}
	<div style = 'border:double; width:700px; background-color:#FFFF99'>
	{% else %}
	<div style = 'border:double; width:450px; background-color:#FFFF99;margin-left:115px'>
	
	{% endif %}
	
	<br><br>
	<form action = "/edit_inst_run/" method = "get">

		<br>
		
		<center><b>Please alter your institution information below:</b></center>
		<br><br><br>
		
		
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Institution Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		{% if fail or fail2%} <Input type = "text" maxlength = '40' name = "Institution" value ='{{Institution}}'> {% else %} <Input maxlength = '40' type = "text" name = "Institution" value ='{{Institution_in}}' >  {% endif %}
		{% if Institutionfail %}&nbsp; <i style ='color:red;font-size:12px'> Invalid Entry: must only contain leters, numbers, spaces, and colons </i>   {% endif %}
		<br> 
		
		
		
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Website:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
		{% if fail or fail2%} <Input maxlength = '50' type = "text" name = "Website" value ='{{Websitein}}'> {% else %} <Input maxlength = '50'vtype = "text" name = "Website" value ='{{Websitein_in}}'>  {% endif %}
		{% if Websitein_r %}&nbsp; <i style ='color:red;font-size:12px'> Invalid Entry </i>   {% endif %}
		<br> <br> <br><br>
		
		
		
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Password: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<Input maxlength = '30' type = "password" name = "Password"> 
		
		
		{% if passfail %} <br><br> <i style ='color:red;font-size:15px'> <center> Invalid Password </center> </i> {% endif %}
		<br><br>
		<center><input type = "Submit">	</center>
		<br><br>

		
		
	</form>
	
	
	
	<br><br>
	
	</div>
	<br><br>
	<form action = "/Manage_Account/" method = "get" name = "Return to Main Menu" style ='padding-left:325px'>
	
		<button name = "Return To Main Menu" type = "submit" value = "HTML">
		Return 
		</button>
	</form>
	
	<br><br>	
	


</div>	


</div>


{% include "footer.html" %}
