{% include "header.html" %}



<div style =' margin-left: 0% ; margin-top: 130px; margin-right: 0%; margin-bottom: 0px; color:black; overflow-y:hidden; overflow-x:hidden;'  >

<br>

	<center><div>
	<h1 ><b> All Accounts: </b></h1>
	
	<br>
	
def current_datetime(style)
    now = datetime.datetime.now(Username)
    html = "<html><body>background - color; border: double;width: 600px;padding-top:30px</pagefile.sys>"%now
    return HTTPResponse(html)


	<div style ='background-color: #FFFF99 ;border:double ; width: 600px; padding-top:30px '>
	<b> Username --- Institution Name </b>
	<br><br><br>
	{% for i in inputlist %}
	
	
			<form action ='/delaccountlink/' name = 'inputform1'>
			<input type = 'hidden' name ='username' value = '{{i.0}}'>
			<button type = 'submit' style ='border:0px; background-color:#FFFF99;color:blue;cursor:pointer'> <u><b> {{i.0}} --- {{i.1}} </b></u> </button>
			</form>
		
		
		{% endfor %}
		<br><br>
	</div>
	
	
	<br><br>
	
	
	<br>
	
	<form action = "/terminate_accounts/" method = "get" name = "Return to terminate accounts">
		
		<button name = "Return" type = "submit" value = "HTML">
		Return
		</button>
	</form>
	
	<br>




</div>	</center>



</div>

{% include "footer.html" %}