{%include header.html%}


<div style =' margin-left: 0% ; margin-top: 130px; margin-right: 0%; margin-bottom: 0px; color:black; overflow-y:hidden; overflow-x:hidden;'  >

<center><div>
<br>

<h1><b>
		Account Management
		
	</b></h1>
	<br>
	<div style = 'border:double; width:450px;background : url("/media/wood.gif")'>
	<br><br>
	
	
	<form action = "/edit_user/" method = "get" name = "Edit user">
	
		<button name = "Edit user" type = "submit" value = "HTML" style = 'width:200px;height:25px'>
		Edit User Information
		</button>
	</form>
	
	<br><br>
	
	
	<form action = "/edit_inst/" method = "get" name = "Edit institution">
	
		<button name = "Edit institution" type = "submit" value = "HTML" style = 'width:200px;height:25px'>
		Edit Institution Information
		</button>
	</form>
	
	
	
	<br><br>
	
	<form action = "/edit_pw/" method = "get" name = "Change Password">
	
		<button name = "Change Password" type = "submit" value = "HTML" style = 'width:200px;height:25px'>
		Change Password
		</button>
	</form>
	
	
	
	<br><br>
	
	<form action = "/edit_picture/" method = "get" name = "Change Picture">
	
		<button name = "Change Picture" type = "submit" value = "HTML" style = 'width:200px;height:25px'>
		Edit Account Picture
		</button>
	</form>
	
	
	
	<br><br>
	
	<form action = "/delete_model/" method = "get" name = "Delete Model">
	
		<button name = "Delete Model" type = "submit" value = "HTML" style = 'width:200px;height:25px'>
		Delete Model
		</button>
	</form>
	
	<br><br>
	
	
	
	
	<form action = "/delete_account/" method = "get" name = "Delete Account">
	
		<button name = "Delete Account" type = "submit" value = "HTML" style = 'width:200px;height:25px'>
		Delete Account
		</button>
	</form>
	
	<br><br>
	

	</div>
	<br><br>
	<form action = "/account/" method = "get" name = "Return to Main Menu">
	
		<button name = "Return To Main Menu" type = "submit" value = "HTML" style = 'width:200px;height:25px'>
		Return To Account Menu
		</button>
	</form>
	
	<br><br>	
	


</div>	</center>


</div>



{%include footer.html%}