{% include "header.html" %}


<div style =' margin-left: 0% ; margin-top: 130px; margin-right: 0%; margin-bottom: 0px; color:black; overflow-y:hidden; overflow-x:hidden;'  >

<center> 

	<br><br>

		<br>
		<h1 style = 'color:red'><b><u>Administration: Account Termination</b> </u></h1><br><br>
</center> 		
	
	<center>
	<div style ='width:500px;height:auto;border:double;background-color:#FFFF99;margin-left:70px'>	
	
	<br><br>
	
	<br>
	
	<form action = "/adminterminate_account/" method = "get">
	<center>
		<b> Enter your password and the username  <br>
		    of the account you wish to terminate.
		</b> <br><br><br>
		Username: &nbsp;&nbsp;&nbsp;
		{% if accountin %} <input maxlength = '30' type ='text' name = 'account' value ='{{accountin}}'> {% else %} <input type ='text' name = 'account'>  {% endif %}
		{% if invalidaccount %} <br><br> <i style ='color:red'> Invalid Username </i>{% endif %}
		<br><br>
		Password: &nbsp;&nbsp;&nbsp;
		<Input maxlength = '30' type = "password" name = "Password"> </center>
		{% if invalidpw %} <br> <i style ='color:red;font-size:15px'> <center> Invalid Password </center> </i> {% endif %}
		<br><br>
		
		
		<center> <input type ='submit' value = 'Submit'/> </center>
		
		</select> 
		
		
	</form>
	<br>
	
	</div>
	
	</center>
	<center>
	<br><br>
	
	<form action = "/view_username_admin/" method = "get" name = "View username admin">
		
		
		<button name = "View username admin" type = "submit" value = "HTML">
		View User Accounts
		</button>
		
	</form>
	<br><br>
	<form action = "/admin_account/" method = "get" name = "Return to Admin Menu">
		
		
		<button name = "Return To Admin Menu" type = "submit" value = "HTML">
		Return To Admin Menu
		</button>
		
	</form>
	
	</center>
	
	<br>

</div>



	
{% include "footer.html" %}
