<!DOCTYPE HTML Public "-//W3C//DTD HTML 4.01//EN">
<html lang="en">

<head>
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">

    <!-- Latest compiled and minified CSS for Twitter Bootstrap-->
    <link rel="stylesheet"
    href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet"
    href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    {% load staticfiles %}
    <link rel="stylesheet"
    href="{% static "css/style.css" %}">
</head>

<body>
  <div class="container main-frame">
    <div class="row">
      <div class="col-md-11 col-centered">
        <nav class="mason-border navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <span class="mason-logo pull-left"></span>
            <span class="mason-logo pull-right"></span>
            <center style="color:white;font-size:28px;font-weight:bold;">
                MapScore: Lost Person Model Rating System
            </center>

            <div class="row">
              <center class="nav-options">
                [{% if request.session.active_account != None %} <a href="/main"> Log Out </a>| {% endif %}
                <a href="/leaderboard"> Leaderboard </a>|
                <a href="https://github.com/ctwardy/Pmap-Score/issues?sort=created&direction=desc&state=open"
                  target="_blank"> Issue Tracker </a>|
                <a href="/help" target="_blank"> Help </a>]
              </center>
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </nav><!-- /.navbar-default -->
      </div><!-- /.col -->
    </div><!-- /.row -->
    <div class="row">
      <div class="col-md-12">

      {% block content %}
      {% endblock content %}

      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container.main-frame -->

  <div class="container">
    <div class="row">
      <hr color="white">
      <p align="center" style="color:white;font-weight:bold;font-style:italic;">
        GMU: C4I Center  -- Dr. Charles Twardy(ctwardy@gmu.edu) -----
        (Partly funded by the National Science Foundation)
      </p>
      <br>
    </div><!-- /.row -->
  </div><!-- /.container -->

  <!-- Latest jQuery -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js">
  </script>
  <!-- Tablesorter jQuery plugin -->
  <script
      src="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.17.5/js/jquery.tablesorter.min.js">
  </script>
  <!-- Latest compiled and minified Twitter Bootstrap -->
  <script
    src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js">
  </script>
  <script
    src="/static/js/custom.js">
  </script>

</body>
</html>
