{% extends 'base.html' %}

{% block title %}
Batch Test{{ block.super }}
{% endblock %}

{% block content %}
    {{ block.super }}
    <div class='panel'>
        <h3>Batch Test</h4>
        <div class='description'>
            <p>
                You may upload a ZIP file with these specifications: 
            </p>
            <ul>
                <li>Contains grayscale PNG images with 5001x5001 pixel dimensions</li>
                <li>Each PNG should be named as <em>modelname</em>_<em>casename</em>.png</li>
                <li>Model names and case names should already exist in the database</li>
                <li>All other files will be ignored</li>
                <li>Directory structure will be ignored</li>
            </ul>
            <p>
                A confirmation screen will be displayed with warnings if a model or test case name cannot be found.
                Also, please note that existing tests will be overwritten if the ZIP file contains submissions for
                test cases that you have already completed.
            </p>
        </div>
        <form action='{% url 'batch_test_upload' %}' method='post' enctype='multipart/form-data'>
            <p class='error'>
                {{ form.zipfile.errors }}
                {{ form.non_field_errors }}
            </p>
            <p class='info'>
                {{ form.zipfile.help_text }}
                {{ form.zipfile.label_tag }}
            </p>
            {% csrf_token %}
            {{ form.zipfile }}
            <button>Upload</button>
        </form>
    </div>
    <a href='/account/'>Return to account menu</a>
{% endblock %}
