{% extends 'base.html' %}

{% block title %}
Batch Test Confirmation{{ block.super }}
{% endblock %}

{% block content %}
    {{ block.super }}
    <div class='panel'>
        <h3>Batch Test Confirmation</h3>
        <div class='description'>
            <p>
                Good files found: {{ gcount }}, bad files found: {{ bcount }}
            </p>
            {% if case_list %}
                <table id='batchtable'>
                    <thead>
                        <tr class='batchrow'>
                            <th>Model</th>
                            <th>Case</th>
                            <th>File Size (bytes)</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for path, filename, filesize, model, case, status in case_list %}
                            <tr class='batchrow'>
                                <td>{{ model }}</td>
                                <td>{{ case }}</td>
                                <td>{{ filesize }}</td>
                                <td class='{% ifequal status 'ready' %}info{% else %}error{% endifequal %}'>
                                    {{ status }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No appropriate files found.</p>
            {% endif %}
            {% if gcount > 0 %}
                <p>
                    If you proceed, files listed as "ready" will be processed. Any files with a negative 
                    status have already been deleted and will need to be corrected before resubmission.
                </p>
            {% else %}
                <p>No suitable files were found for processing.</p>
            {% endif %}
        </div>
        {% if gcount > 0 %}
            <form action='{% url "batch_test_upload_final" %}' method='post' enctype='multipart/form-data'>
                {% csrf_token %}
                <input type="submit" value="Process Ready Files" id="submitButton" name="process"/>  
                <input type="submit" value="Abort" name="abort" id="abortButton"/> 
            </form>
        {% endif %}
    </div>
    <a href='/account/'>Return to account menu</a>
{% endblock %}
