{% include "header.html" %}


<div style =' margin-left: 0% ; margin-top: 130px; margin-right: 0%; margin-bottom: 0px; color:black; overflow-y:hidden; overflow-x:hidden;'  >

<div style = 'padding-left:325px;' >

<br><br><br>
</div>
{% include "case.html" %}


<br><br>    
<div style = 'padding-left:375px;' >    
    
    
    <br>
    
    <form action = "/caseref_return/" method = "get" name = "Return to Model Menu">
        
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button name = "Return To Model Menu" type = "submit" value = "HTML">
        Return 
        </button>
        
    </form>
    
<br>
</div>
</div>


    
{% include "footer.html" %}

    
