{% include "header.html" %}

</div>
</div>

<CENTER>
<FORM METHOD=POST ACTION="/Temp_password/" ENCTYPE="text/plain">
<INPUT TYPE="text" NAME="username"> : name <BR>
<INPUT TYPE="text" NAME="email"> : email <BR>
comments <BR>
<TEXTAREA NAME="COMMENTS" ROWS="10" WRAP="hard">
</TEXTAREA>
<INPUT NAME="redirect" TYPE="hidden" VALUE="index.html">
<INPUT NAME="NEXT_URL" TYPE="hidden" VALUE="index.html">
<BR>
<INPUT TYPE="submit" VALUE="Send">
<INPUT TYPE="reset" VALUE="Clear">
</FORM>
</CENTER>

</div>

</body>
</html>

