{% extends 'base.html' %}

{% load staticfiles %}

{% block links %}
    {{ block.super }}
    <link rel='stylesheet' type='text/css' href='{% static 'css/tablesorter/style2.css' %}'>
{% endblock %}

{% block scripts %}
    <script src='{% static 'js/jquery-2.1.0.min.js' %}'></script>
    <script src='{% static 'js/testcase-thumb-hover.js' %}'></script>
    <script src='{% static 'js/jquery.tablesorter.min.js' %}'></script>
{% endblock %}

{% block title %}
Completed Tests{{ block.super }}
{% endblock %}

{% block content %}
    {{ block.super }}
    <div class='panel'>
        <h3>Your Completed Tests</h3>
        <small>Hover over the test case name to view the image thumbnail if available.</small>
        {% if completed_lst|length > 0 %}
            <table id='testCaseTable' class='tablesorter'>
                <thead>
                    <tr>
                        <th>Test Case Name</th>
                        <th>Test Rating</th>
                    </tr>
                </thead>
                <tbody>
                    {% for test in completed_lst %}
                        <tr>
                            <td>
                                <a class='testcase' href='/completed_test/?name={{ test.test_name }}'
                                    data-thumbexists='{{ test.thumbexists }}' data-thumb='{{ test.thumb }}'>{{ test.test_name }}</a>
                            </td>
                            <td>
                                {{ test.test_rating }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>You have not completed any tests with this model yet.</p>
        {% endif %}
    </div>
    <a href='/model_menu/'>Return to model menu</a>
{% endblock %}
