{%include header.html%}


<div style =' margin-left: 0% ; margin-top: 130px; margin-right: 0%; margin-bottom: 0px; color:black; overflow-y:hidden; overflow-x:hidden;'  >

<br>

	<center><div>
	<h1 ><b> Your completed Tests: </b></h1>
	
	<br>
	
	
	<div style ='background-color: #FFFF99 ;border:double ; width: 600px; padding-top:30px '>
	
	{% for i in completed_lst %}
	
	
			<form action ='/completedtest_modellink/' name = 'inputform1'>
			<input type = 'hidden' name ='completedtest' value = '{{i}}'>
			<button type = 'submit' style ='border:0px; background-color:#FFFF99;color:blue;cursor:pointer'> <u><b> {{i}} </b></u> </button>
			</form>
		
		
		{% endfor %}
		<br><br>
	</div>
	
	
	<br><br>
	
	
	<br>
	
	<form action = "/model_menu/" method = "get" name = "Return to model">
		
		<button name = "Return" type = "submit" value = "HTML">
		Return
		</button>
	</form>
	
	<br>




</div>	</center>



</div>


{%include footer.html%}	

