{% extends 'base.html' %}

{% block title %}
Delete Account{{ block.super }}
{% endblock %}

{% block content %}
    {{ block.super }}
    <div class='panel'>
        <p class='error'>{{ error }}</p>
        <h3>Delete Account</h3>
        <p>
            <span class='error'><strong><em>Warning</em></strong></span>: 
            You are about to permanently delete your account and all of its associated
            models and tests. Please enter your password below to continue.
        </p>
        <form action='/deleteaccount_confirm/' method='post'>
            {% csrf_token %}
            <input maxlength='30' type='password' name='passwd'>
            <button>Submit</button>
        </form>
    </div>
    <a href='/account/'>Return to account menu</a>
{% endblock %}
