{%include header.html%}


<div style =' margin-left: 0% ; margin-top: 130px; margin-right: 0%; margin-bottom: 0px; color:black; overflow-y:hidden; overflow-x:hidden;'  >

<div style ='padding-left:200px'>

<br><br>
<h1 style = 'color:red'><b style ='padding-left:225px'>
		Delete Model
		
	</b></h1>
	<br><br>
	<div style='padding-left:100px'>

	<b> 	In order to delete your model, please select your model from the<br>
		drop down list, enter your password,and select submit. Once <br>
		submitted, your account will be permanently removed from <br>
		your system. </b>
	
		</div>
	<br><br>
	
<div style ='width:500px;height:auto;border:double;background-color:#FFFF99;margin-left:70px'>	
	
	
	<br><br>
	
	

	<form action = "/deletemodel_confirm/" method = "get" name = "deletemodel" >
	
		<center>
		<select name = 'model_in'>
			<option value= '0' >-- Please select your model --</option>
			
			{% for i in modelname_list %}
				<option> {{i}} </option>
			 {% endfor %}
		</select>
		</center>
		
		<br><br>
	
	
		<div style = 'padding-left:80px'>Password: &nbsp;&nbsp;&nbsp;
		<Input maxlength = '30' type = "password" name = "Password"> </div>
		{% if passfail %}<br> <i style ='color:red;font-size:15px'> <center> Invalid Password </center> </i> {% endif %}
		<br><br>
		<center><input type = "Submit">	</center>
		

		
		
	</form>
	
	
	
	<br><br>
	
	</div>
	
	</div>
	<br><br>
	<div style = 'margin-left:175px'>
	<form action = "/Manage_Account/" method = "get" name = "Return to Main Menu" style ='padding-left:325px'>
	
		<button name = "Return To Main Menu" type = "submit" value = "HTML">
		Return 
		</button>
	</form>
	</div>
	<br><br>	
	
</div>

{%include footer.html%}

