{% extends 'base.html' %}

{% block title %}
Delete Model{{ block.super }}
{% endblock %}

{% block content %}
    {{ block.super }}
    <div class='panel'>
        <p class='error'>{{ error }}</p>
        <h3>Delete Model</h3>
        <p>
            <span class='error'><strong><em>Warning</em></strong></span>: 
            You are about to permanently delete a model and all of its associated
            tests. Please select the model to be deleted and enter your 
            password below to continue.<br />
        </p>
        <form action='/deletemodel_confirm/' method='post'>
            {% csrf_token %}
            <select name = 'model_in'>
            <option value='0'>-- Please select your model --</option>
                {% for model in modelname_list %}
                    <option> {{ model }} </option>
                {% endfor %}
            </select>
            <input maxlength='30' type='password' name='passwd'>
            <button>Submit</button>
        </form>
    </div>
    <a href='/account/'>Return to account menu</a>
{% endblock %}
