{% extends 'base.html' %}

{% block title %}
Delete Account{{ block.super }}
{% endblock %}

{% block content %}
    {{ block.super }}
    <div class='panel'>
        {% if error %}
            <p class='error'>{{ error }}</p>
        {% endif %}
        <p>
            <span class='error'><strong><em>Warning</em></strong></span>: 
            You are about to permanently delete your account.<br />
            Please enter your password below to continue.<br />
        </p>
        <form action='/deleteaccount_confirm/' method='post'>
            {% csrf_token %}
            <input maxlength='30' type='password' name='passwd'>
            <button>Submit</button>
        </form>
    </div>
    <a href='/account/'>Return to account menu</a>
{% endblock %}
