{%include header.html%}


<div style =' margin-left: 0% ; margin-top: 130px; margin-right: 0%; margin-bottom: 0px; color:black; overflow-y:hidden; overflow-x:hidden;'  >

<center><div>


<h1><b>
		Edit Account Picture
		
	</b></h1>
		
	<br><br>
	
	
	<div style = 'width:500px;height:auto;border:double;border-color:black;border-width:5px;background-image:url("/media/blueframe.jpg")'>

	
	<br><br>
	
	<image src = '{{account_photo}}' style = 'border:solid; border-width:5px;border-color:black' width = '{{xsize}}'  height = '{{ysize}}' >
	
	<br><br><br>
	
	</div>
	
	
	
	<br><br><br>
	
	
	
	
	
	
	
	
	
	<div style = 'border:double; width:450px; background-color:#FFFF99'>
	<br><br>
	
	
	<form action = "/alterprofpic/" method = "get" name = "Edit Profpic">
	
		<button name = "Edit Profpic" type = "submit" value = "HTML">
		Change Profile Picture
		</button>
	</form>
	
	<br><br>
	
	
	<form action = "/remove_profpic/" method = "get" name = "Remove Profpic">
	
		<button name = "Remove Profpic" type = "submit" value = "HTML">
		Remove Profile Picture
		</button>
	</form>
	
	
	
	
	<br><br>
	
	</div>
	<br><br>
	<form action = "/Manage_Account/" method = "get" name = "Return to Account Management">
	
		<button name = "Return To Account Management" type = "submit" value = "HTML" style ='width:75px'>
		Back
		</button>
	</form>
	
	<br><br>	
	


</div>	</center>


</div>


	
{%include footer.html%}
