{%include header.html%}

<div style =' margin-left: 0% ; margin-top: 130px; margin-right: 0%; margin-bottom: 0px; color:black; overflow-y:hidden; overflow-x:hidden;'  >

<center><div>
<br>

<p><b>
		Please take a moment to fill out the following model registration. <br>
		All fields must be completed.
		
	</b></p>
	<br>
	<div style = 'border:double; width:450px; background-color:#FFFF99'>
	<br><br>
	<form action = "/model_change_info/" method = "get">

		

		
		<b>Model Name: {{model_name}}</b>
	
		
		<br><br><br>
		
		<b>Model Description:</b><br><br>
		
		<textarea type = 'text' name='description' cols = '45' rows = '10'>{{description}} </textarea> 
		<br>
		{% if  Fail1 %} <i style ='color:red; font-size:12px'> You must enter a description of your model </i> {% endif %}
		<br><br>
		
		
		<br>
		
		Password: &nbsp;&nbsp;&nbsp;
		<Input maxlength = '30' type = "password" name = "Password"> <br>
		
		
		{% if passfail %} <br><br> <i style ='color:red;font-size:15px'> <center> Invalid Password </center> </i> {% endif %}
		<br><br>
		<input type = "Submit">		
	</form>
	
	<br><br>
	
	</div>
	<br><br>
	<form action = "/model_menu/" method = "get" name = "Return To Model Menu">
	
		<button name = "Return To Model Menu" type = "submit" value = "HTML">
		Return
		</button>
	</form>
	
	<br><br>	
	


</div>	</center>


</div>


{%include footer.html%}
