{% extends 'base.html' %}

{% block title %}
Edit Model{{ block.super }}
{% endblock %}

{% block content %}
    {{ block.super }}
    <div class='panel'>
        {% if Fail1 %}<p class='error'>You must enter a description of your model.</p>{% endif %}
        {% if passfail %}<p class='error'>Invalid password.</p>{% endif %}
        <p>Please take a moment to fill out the following model registration.
            All fields must be completed.</p>
        <form action='/model_change_info/' method='post'>
            {% csrf_token %}
            <h4>Model name: </h4>
            <input maxlength='30' value='{{ model_name }}' name='name'/><br />
            <h4>Model description: </h4>
            <textarea name='description' cols='45' rows='10'>{{ description }}</textarea><br />
            <h4>Password: </h4>
            <input maxlength='30' type='password' name='passwd'/><br />
            <button>Submit</button>
        </form>
    </div>
    <a href='/model_menu/'>Return to model menu</a>
{% endblock %}
