{% include "header.html" %}


<div style =' margin-left: 0% ; margin-top: 130px; margin-right: 0%; margin-bottom: 0px; color:black; overflow-y:hidden; overflow-x:hidden;'  >

<center><div>



    <p>

                Email Confirmation
        <br>

    </p>
        
    <br>

    <div style = 'border:double; width:300px; background-color:#FFFF99'>
    <form action = "/email confirmation /" method = "get" name = "Email">
    <p> </center> This is to make sure you got a link to reset your password <p>
        <br>
        </p>
        <br>
        <br>
        <a href="/Emaillink /">Emaillink</a>
    </form>
    </div>

    <br><br>


</div>    </center>


</div>


{% include "footer.html" %}