{% extends 'base.html' %}

{% block title %}
Case {{ case_name }}{{ block.super }}
{% endblock %}

{% block content %}
    {{ block.super }}
    {% if info %}
        <p class='info'>{{ info }}</p>
    {% endif %}
    {% if error %}
        <p class='error'>{{ error }}</p>
    {% endif %}
    <h4 class='info'>You may now run your model based on the information provided and upload the results.</h4>
    <p>
        <a href='/test_instructions/'>Instructions</a>&nbsp;|&nbsp;
        <a href='/DownloadParam/'>Download parameters</a>
    </p>
    {% if layer %}
        &nbsp;|&nbsp;
        <a href='/DownloadLayers/'>Download layers</a>
    {% endif %}
    {% include 'case.html' %}
    <div id='upload'>
        <hr />
        <div class='description panel'>
            Please select the grayscale image representing your model's output 
            and upload it below. Once uploaded, the image will be rated in our system.
            The uploaded image must be in grayscale PNG format.
            You may revise your test later on.
            <form action='/evaluate/' method='post' enctype='multipart/form-data' name='Upload File'>
                {% csrf_token %}
                <input type='file' name='grayscale'>
                    <button name='Upload File'>Submit File</button>
                </input>
            </form>
        </div>
        <a href='/model_menu/'>Return to model menu</a>
    </div>
{% endblock %}
