
       <hr color="white">
       <p align="center" style="color:white;font-weight:bold;font-style:italic;">
         GMU: C4I Center  -- Dr. Charles Twardy(ctwardy@gmu.edu) -----
         (Partly funded by the National Science Foundation)
       </p>
       <br>
    </div>

    <!-- Latest jQuery -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js">
    </script>
    <!-- Tablesorter jQuery plugin -->
    <script
        src="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.17.5/js/jquery.tablesorter.min.js">
    </script>
    <!-- Latest compiled and minified Twitter Bootstrap -->
    <script
      src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js">
    </script>
    <!-- Kick off tablesorter script -->
    <script>
        $(document).ready(function() {
            $("#leaderboard").tablesorter();
        });
    </script>

  </body>
</html>
