<!DOCTYPE HTML Public "-//W3C//DTD HTML 4.01//EN">
<html lang = "en">

<head>
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
</head>


<body  marginwidth="0px" marginheight="0px" leftmargin="0px" topmargin="0px" 
       style ='background : url("/media/background.jpg")' npadding ='0px'
       height = '100%' style ='overflow-x: hidden; overflow-y:scroll'>
<div style = 'width: 1050px; margin-left:auto;margin-right:auto; background : url("/media/lightgreen.jpg") ;padding-left:0px'>

<div style ='border:double; color:black; border-width:10px;
       position:absolute; top:0; width: 1030px;
       background-color:#780000; height: 110px;
       overflow-x:hidden; overflow-y:hidden'>

<div style = 'margin-left: 30px ; margin-top: 0px; margin-right: 30px;
     margin-bottom: 0px; font-size:10px'> 

  <h1 style = 'color :white'>		
    <div style ='float:left; border:double; color:white; height:67px'> 
      <img src = "/media/mason_logo.gif" width ='107' height = '67'> 
    </div>
    <div style ='float:right; border:double;color:white;height:67px'> 
      <img src = "/media/mason_logo.gif" width ='107' height = '67' > 
    </div>
	
    <center>
      MapScore<br>
      Lost Person Model Rating System<br>
    </center>
    <div style = 'margin-top:18px'>
      <div style ='font-size:14px;padding-left:265px; position:absolute; width:95%'>
		[<a href="/main/" style ='color:white'> Log Out </a>
		|<a href="/hyper_leaderboard/" style ='color:white'>
		  Leaderboard </a> ] 
		&nbsp;&nbsp;&nbsp;
		<i> *Main Menu* </i>
		&nbsp;&nbsp;&nbsp;
		[<a href="https://github.com/ctwardy/Pmap-Score/issues?sort=created&direction=desc&state=open"
			style ='color:white' target="_blank"> Issue Tracker </a> 
		|<a href="/help/" style ='color:white'
			target="_blank"> Help </a>]
	  </div>
    </div>
  </h1>
  
  
  
  
</div>	
</div>
