<!DOCTYPE HTML Public "-//W3C//DTD HTML 4.01//EN">
<html lang="en">

<head>
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">

    <!-- Latest compiled and minified CSS for Twitter Bootstrap-->
    <link rel="stylesheet"
    href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet"
    href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    {% load staticfiles %}
    <link rel="stylesheet"
    href="{% static "css/style.css" %}">
</head>

<body>
  <div class="container main-frame">
      <nav class="mason-border navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <span class="mason-logo pull-left"></span>
          <span class="mason-logo pull-right"></span>

          <center style="color:white">
            <h1>
              MapScore<br>
              Lost Person Model Rating System
            </h1>
          </center>

          <div class="row">
            <center class="nav-options">
              [<a href="/main/"> Log Out </a>
              |<a href="/hyper_leaderboard/"> Leaderboard </a>
              |<a href="https://github.com/ctwardy/Pmap-Score/issues?sort=created&direction=desc&state=open"
                target="_blank"> Issue Tracker </a>
              |<a href="/help/" target="_blank"> Help </a>]
            </center>
          </div><!-- row -->
        </div><!-- /.container-fluid -->
      </nav><!-- /.navbar-default -->
