{% extends "base.html" %}
{% block content %}


<div style =' margin-left: 0% ; margin-top: 130px; margin-right: 0%; margin-bottom: 0px; color:black; overflow-y:hidden; overflow-x:hidden;'  >

<center>
<br>

<h1 style = 'color:navy'><b>
		How do you alter your account information?
		
</b></h1>

<br><br>
	
</center>	

	<div style ='padding-left:225px'>
	On your account menu page, there is a Manage Account link. By selecting this button, you are <br>
	prompted with a list of options that allow you to change your user information, institution information, <br>
	password, and account photo. You can also choose to delete an individual model or delete your entire  <br>
	account at any time. 
	</div>
	
	
	
	
<br><br><br>
	
	<center>
	<form action = "/help/" method = "get" name = "Return to help Menu">
		
	
		<button name = "Return To help Menu" type = "submit" value = "HTML">
		Return
		</button>
		
	</form>
	
	</center>
	
<br><br><br>



</div>

{% endblock content %}
