{%include header.html%}


<div style =' margin-left: 0% ; margin-top: 130px; margin-right: 0%; margin-bottom: 0px; color:black; overflow-y:hidden; overflow-x:hidden;'  >


<center><div>
<br>

	<h1><b>
		Please confirm the submission of your grayscale image
	</b></h1>
	
	
	<br><br>
	
	<p> Once you provide confirmation, your model will be rated and you will no longer be able to alter your submission </p>
	<br><br>
	
	<image src = '{{grayscale}}' style = 'border:solid; border-width:5px' height = '700px' width ='700px'>
	
	<br><br>
	<br>
	
	<form action = "/acceptgrayscale_confirm/" method = "get" name = "acceptgrayscale_confirm">
		
		<button name = "Confirm Submission" type = "submit" value = "HTML">
		Confirm Submission
		</button>
	</form>
	
	
	<br>
	
	<form action = "/denygrayscale_confirm/" method = "get" name = "denygrayscale_confirm">
		
		<button name = "Remove Submission" type = "submit" value = "HTML">
		Remove Submission
		</button>
	</form>
	
	<br>	
	

</div>
</div>	</center>

	
{%include footer.html%}