  <div class="container">
    <div class="row">
      <h1 class="text-center">Leaderboard</h1>
    </div>
    <div class="row">
      <div class="col-md-7 col-centered">
        <div class="col-md-3 pull-left">
          <label for="switchboard">Select Table:</label>
          <form id="switchboard" action="/switchboard/" method="get">
              <select class="form-control" name='Sort_by' onchange="this.form.submit();">
                  <option value='0'> Model Average </option>
                  <option value='1'> Test Case </option>
                  <option SELECTED value='2'> Scenario </option>
              </select>
          </form>
        </div><!-- /.col -->
        <div class="col-md-4 pull-right">
          <label for="scenario-select-form">Select Scenario:</label>
          <form id="scenario-select-form" action ='/switchboard_toscenario/'>
            <select name='Scenario_sort' class="form-control" onchange="this.form.submit();">
              <option SELECTED value='0'>None</option>
              {% for scenario in scenario_list %}
              <option value='{{ scenario }}'>{{ scenario }}</option>
              {% endfor %}
            </select>
          </form>
        </div><!-- /.col -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container -->

  <div class="container">
    <div class="row top-buffer">
      <div class="col-md-10 col-centered">
        <table id="leaderboard" class="tablesorter">
          <thead>
            <tr>
              {% for header in header_list %}
              <th class="text-center">{{ header }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for row in score_list %}
            <tr>
              <td>
                <form action="/Account_Profile/" name="inputform1">
                  <input type="hidden" name="Account" value="{{ row.4 }}">
                  <button class="link-button" type="submit">{{ row.0 }}</button>
                </form>
              </td>
              <td>
                <form action="/model_Profile/" name="inputform2">
                  <input type="hidden" name="Account" value="{{ row.4 }}">
                  <input type="hidden" name="Model" value="{{ row.1 }}">
                  <button class="link-button" type="submit">{{ row.1 }}</button>
                </form>
              </td>
              <td>
                <p><b>
                {% if row.5 %}
                  {{ row.2 }} &nbsp;&nbsp;&nbsp;
                  ({{ row.5 }}, &nbsp; {{ row.6 }})
                {% else %}
                  {{ row.2 }}
                {% endif %}
                </b></p>
              </td>
              <td>
                <p>
                {% if row.6 %}
                  <b style="color:red">{{ row.3 }}</b>
                {% else %}
                  <b>{{ row.3 }}</b>
                {% endif %}
                </p>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div><!-- /.col -->
    </div><!-- /.row -->
    <div class="row">
      <div class="col-md-8 col-centered">
        {% for note in notes %}
        <p class="text-center">{{ note }}</p>
        {% endfor %}
      </div>
    </div>
  </div><!-- /.container -->
