{% extends "leaderboard_base.html" %}

{% block board_title %}

<div class="container">
  <div class="row top-buffer">
    <div class="col-md-8 col-centered">
      <p><b>
        Welcome to the MapScore website. MapScore scores
        probability maps for Wilderness Search &amp; Rescue (WiSAR) so
        the WiSAR community can compare methods for generating such
        maps. MapScore requests users to generate maps for actual
        historical searches (from ISRID), and keeps leaderboard
        statistics for each model or method. Based at George Mason
        University, MapScore has received funding from an NSF REU
        award to Brigham Young University. It is part of the
        SAR<i>Bayes</i> project.
      </b></p>
    </div><!-- col -->
  </div><!-- row -->
</div><!-- container -->
<div class="container">
  <div class="row top-buffer">
    <div class='col-md-10 col-centered'>
      <div class="panel panel-default"
        style="background-color:#FFFF99;border:1px solid gray;">
        <div class="panel-heading">
          <h3 class="panel-title">Login with existing account</h3>
        </div>
        <div class="panel-body" style="display:inline;">
          <form class="form-inline" style="padding-left:10px;" action="/account/" method="post" name="Login">
            {% csrf_token %}
            <label for="username-input">Username:</label>
            <input id="username-input" class="form-control" maxlength='30' type="text" name="Username">
            <label for="password-input">Password:</label>
            <input id="password-input" class="form-control" maxlength='30' type="password" name="Password">
            <button class="btn btn-default "type="submit" name="Login">Login</button>
            <div class="btn-group">
              <a class="btn btn-default"href="/password_reset/">Forgot Password?</a>
              <a class="btn btn-default"href="/reg_conditions/">New User?</a>
              <a class="btn btn-default"href="/admin_login/">Admin Login</a>
            </div><!-- btn-group -->
          </form>
        </div><!-- panel-body -->
      </div><!-- panel -->
    </div><!-- /col -->
  </div><!-- /row -->
  <br>
</div><!-- container -->

<br>
<p class="text-center" style='font-size:18px'>
  <b>Top 10 Rated Models (with 5 or more tests completed) </b>
</p>
{% endblock board_title %}

{% block options %}{% endblock options %}
