{% extends 'base.html' %}

{% block title %}
Log In{{ block.super }}
{% endblock %}

{% block hrefs %}{% endblock %}

{% block content %}
    {{ block.super }}
    <p class='info'>{{ info }}</p>
    <p class='error'>{{ error }}</p>
    <fieldset id='login'>
        <legend><strong>Log in with existing account</strong></legend>
        <form action='/log_in/' method='post' name='login'>
            {% csrf_token %}
            Username: <input maxlength='30' type='text' name='username'/>
            Password: <input maxlength='30' type='password' name='password'>
            <button>Login</button>
            <a href='/password_reset/'>Forgot password?</a>&nbsp;|&nbsp;
            <a href='/reg_conditions/'>New user?</a>&nbsp;|&nbsp;
            <a href='/admin_login_page/'>Admin login</a>
        </form>
    </fieldset>
    <div class='description'>
        <p><b> Welcome to the MapScore website. MapScore scores
        probability maps for Wilderness Search &amp; Rescue (WiSAR) so
        the WiSAR community can compare methods for generating such
        maps. MapScore requests users to generate maps for actual
        historical searches (from ISRID), and keeps leaderboard
        statistics for each model or method. Based at George Mason
        University, MapScore has received funding from an NSF REU
        award to Brigham Young University. It is part of the
        SAR<i>Bayes</i> project.
        </b></p><br />
    </div>
    <table class='leaderboard'>
        <thead>
            <tr colspan='4'>
                <h3>Top 10 Rated Models (with 5 or more tests completed)</h3>
            </tr>
            <tr>
                <th class='leaderboard-header'>Institution Name</th>
                <th class='leaderboard-header'>Model Name</th>
                <th class='leaderboard-header'>Average Rating</th>
                <th class='leaderboard-header'>Tests Completed</th>
            </tr>
        </thead>
        <tbody>
            {% for model in scorelist %}
                <tr>
                    {% for attr in model %}
                        <td><strong>{{ attr }}</strong></td>
                    {% endfor %}
                </tr>
            {% empty %}
                <p>No models have more than five tests.</p>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
