{% extends 'base.html' %}

{% block title %}
Metric Description{{ block.super }}
{% endblock %}

{% block content %}
    {{ block.super }}
    <div class='description'>
        <div class='panel'>
            <h3>Metric Description</h3>
            <p>In order to evaluate the submitted probability maps against the actual find 
                location, a rating metric developed by Rossmo [1] has been implemented.</p>
            <p>The Rossmo metric has gained favor in crime mapping literature. Let p be the 
                probability assigned to the actual find location. Rossmo's r is the proportion of 
                pixels whose probability is greater than p plus one half the proportion of pixels 
                whose probability is equal to p . Chance performance would be 50%, so r can be 
                converted to a -1 to 1 scale using R =(.5 - r)/ 5, with 1 being perfect and 
                negative scores denoting worse-than-chance performance. (a)</p>
            <p>The Rossmo r has an operational interpretation. Assume: 
                <ol>
                    <li>All searchers have perfect detection P(D) = 1 in all cells.</li>
                    <li>All searchers travel the same speed in all cells.</li>
                    <li>Resources are allocated optimally (so that each additional hour of effort makes 
                        the largest possible change in overall probability of success).</li>
                </ol>
            </p>
            <p>Then, r is (nearly) the expected proportion of cells one would have to search 
                before finding the subject. Similarly, R is the proportional gain over random 
                searching. These could easily be converted into expected time to find.</p>
            <p>In our presentation of the model rating results, the model rating corresponds to 
                the Rossmo R metric. </p>
            <p>(a) The number of pixels should be large enough that there is no substantial
                difference in R between <em>proportion of pixels</em> and <em>proportion of 
                other pixels</em>. With only two pixels and a perfect model, one yields R = 1, 
                and the other R = 0.</p>
            <p>References<br>
                [1] D. Kim Rossmo. Geographic Pro_ling. CRC Press, 1 edition, December 1999.
            </p>
        </div>
    </div>
    <a href='{{ HTTP_REFERER }}'>Return to the previous page</a>
{% endblock %}
