{% include "header.html" %}


<div style =' margin-left: 0% ; margin-top: 130px; margin-right: 0%; margin-bottom: 0px; color:black; overflow-y:hidden; overflow-x:hidden;'  >
<br><br>

<center><h1 style ='color:#330066'><b> Model Name:  {{Name}} </b></h1></center>
<br><br>

<div style ='margin-left:175px; padding-left:20px; background-color:#FFFF99 ; border:double; width:700px'>
<br><br>
<b>Research Institution:</b> <br><br>
			<form action ='/Account_Profile/' name = 'inputform1'>
			<input type = 'hidden' name ='Account' value = '{{username}}'>
			<button type = 'submit' style ='border:0px; background-color:#FFFF99;color:blue;cursor:pointer'> <u><b> {{Accountname}} </b></u> </button>
			</form>
			
<br><br>

<b>Model Description:</b> <br><br>  {{Description}}
<br><br>
</div>	









</div>
<br><br>
<center>
	<form action = "/returnfrom_profile/" method = "get" name = "Return from Profile">
		
		
		<button name = "Return To from Profile" type = "submit" value = "HTML">
		Return to Leaderboard
		</button>
		
	</form>
</center>
	<br><br>


{% include "footer.html" %}