{% extends 'base.html' %}

{% block title %}
{{ Name_m }} Model{{ block.super }}
{% endblock %}

{% block content %}
    {{ block.super }}
    <p class='info'><strong>{{ info }}</strong></p>
    <p class='error'><strong>{{ error }}</strong></p>
    <h3>Account Name: {{ Name_act }}</h3>
    <h3>Model Name: {{ Name_m }}</h3>
    {% if rating %}
        <h3>Average Model Rating: {{ rating }}</h3>
    {% endif %}
    {% if rating and rating != 'unrated' %}
        <p>
            Metric from -1 (worst possible) to 1 (perfect).
            On average, a random submission produces a rating of 0.
        </p>
    {% endif %}
    <div class='panel'>
        <a href='/metric_description/'>Metric description</a><br />
        <a href='/edit_model/?overwrite={{ Name_m }}'>Edit model information</a><br />
        <em>To run a new test, please select a new test case: </em><br />
        <a href='/casetypeselect/'>Select a test case</a><br />
        <em>To access a completed test, click the link below to get a list: </em><br />
        <a href='/completedtest_info/'>Show list of completed tests</a><br />
        <a href='/account/'>Return to account menu</a>
    </div>
{% endblock %}
