{%include header.html%}



<div style =' margin-left: 0% ; margin-top: 130px; margin-right: 0%; margin-bottom: 0px; color:black; overflow-y:hidden; overflow-x:hidden;'  >

<b><p style ='position:absolute;padding-left:630px; padding-top:85px'> Scenario Name: </p></b>

	

		



	<form action ='/switchboard_toscenario/' style ='position:absolute; padding-left:610px;padding-top:120px'>
	
	<select name = 'Scenario_sort' onchange="this.form.submit();" style = 'width:160px'>
	
	 <option SELECTED value= '0' >  ----Select Scenario-----   </option>  
	{% for g in scenario_lst %}
	
	 <option value= '{{g}}' >  {{g}}   </option>  
	{% endfor %}
		
	</select>
	</form>


	<form action = "/switchboard/" method = "get" style='padding-left:480px;position:absolute;padding-top:120px'>
		
		<select name = 'Sort_by' onchange="this.form.submit();">
			<option value= '0' > Model Average </option>
			<option  value= '1' > Test Case </option>
			<option SELECTED value= '2' > Scenario </option>
		
		</select> 
	</form>	
	

	<center>
	<h1><b> Leaderboard </h1></b>
	
	</center>
	<br>
	
	<div style ='padding-left:490px'>
	<b> Select Table: </b>
	</div>
	
	


	

	<br><br><br><br>
	
	<div style ='padding-left:25px'>
	<table border = "1" style = " font-size:15px; width:1000px"  bgcolor = '#FFFF99'>
	<tr style ='color:white;background-color:navy'>
	
	<th style= 'height:50px'> <form  name ='data' action = "/model_inst_sort/">
	<Input  type = 'hidden' name = "instname" value ='{{sortlst.0}}'>
	<Input  type = 'hidden' name = "modelname" value ='{{sortlst.1}}'>
	<Input  type = 'hidden' name = "avgrating" value ='{{sortlst.2}}'>
	<Input  type = 'hidden' name = "tstcomplete" value ='{{sortlst.3}}'>
	<Input  type = 'hidden' name = "page" value ='model_to_scenario_move'>
	<button  type = 'submit' style ='font-size:17px;border:0px; background-color:navy;color:white;cursor:pointer'>
	Institution Name  
	{% if sortlst.0 == '1' %}
	&nbsp;&nbsp; ^
	{% endif %}
	
	{% if sortlst.0 == '2' %}
	&nbsp;&nbsp; v
	{% endif %}
	
	{% if sortlst.0 == '0' %}
	&nbsp;&nbsp;-
	{% endif %}
	
	</button> </form>
	</th>
	
	
	
	<th style= 'height:50px'> <form  name ='data' action = "/model_name_sort/">
	<Input  type = 'hidden' name = "instname" value ='{{sortlst.0}}'>
	<Input  type = 'hidden' name = "modelname" value ='{{sortlst.1}}'>
	<Input  type = 'hidden' name = "avgrating" value ='{{sortlst.2}}'>
	<Input  type = 'hidden' name = "tstcomplete" value ='{{sortlst.3}}'>
	<Input  type = 'hidden' name = "page" value ='model_to_scenario_move'>
	<button  type = 'submit' style ='font-size:17px;border:0px; background-color:navy;color:white;cursor:pointer'>
	Model Name 
	{% if sortlst.1 == '1' %}
	&nbsp;&nbsp; ^
	{% endif %}
	
	{% if sortlst.1 == '2' %}
	&nbsp;&nbsp; v
	{% endif %}
	
	{% if sortlst.1 == '0' %}
	&nbsp;&nbsp;-
	{% endif %}
	
	</button> </form>
	</th>
	

	<th style= 'height:50px'> <form  name ='data' action = "/model_rtg_sort/">
	<Input  type = 'hidden' name = "instname" value ='{{sortlst.0}}'>
	<Input  type = 'hidden' name = "modelname" value ='{{sortlst.1}}'>
	<Input  type = 'hidden' name = "avgrating" value ='{{sortlst.2}}'>
	<Input  type = 'hidden' name = "tstcomplete" value ='{{sortlst.3}}'>
	<Input  type = 'hidden' name = "page" value ='model_to_scenario_move'>
	<button  type = 'submit' style ='font-size:17px;border:0px; background-color:navy;color:white;cursor:pointer'>
	Average Rating 
	{% if sortlst.2 == '1' %}
	&nbsp;&nbsp; ^
	{% endif %}
	
	{% if sortlst.2 == '2' %}
	&nbsp;&nbsp; v
	{% endif %}
	
	{% if sortlst.2 == '0' %}
	&nbsp;&nbsp;-
	{% endif %}
	
	</button> </form>
	</th>
	
	
	<th style= 'height:50px'> <form  name ='data' action = "/model_tstscomp_sort/">
	<Input  type = 'hidden' name = "instname" value ='{{sortlst.0}}'>
	<Input  type = 'hidden' name = "modelname" value ='{{sortlst.1}}'>
	<Input  type = 'hidden' name = "avgrating" value ='{{sortlst.2}}'>
	<Input  type = 'hidden' name = "tstcomplete" value ='{{sortlst.3}}'>
	<Input  type = 'hidden' name = "page" value ='model_to_scenario_move'>
	<button  type = 'submit' style ='font-size:17px;border:0px; background-color:navy;color:white;cursor:pointer'>
	Tests Completed  
	{% if sortlst.3 == '1' %}
	&nbsp;&nbsp; ^
	{% endif %}
	
	{% if sortlst.3 == '2' %}
	&nbsp;&nbsp; v
	{% endif %}
	
	{% if sortlst.3 == '0' %}
	&nbsp;&nbsp;-
	{% endif %}
	
	</button> </form>
	</th>
	
	
	
	</tr>
	
	
	{% for i in Scorelist %}
	<tr style = " font-size:12px" >
		
			<td>
			<center>
			<form action ='/Account_Profile/' name = 'inputform1'>
			<input type = 'hidden' name ='Account' value = '{{i.4}}'>
			<button type = 'submit' style ='border:0px; background-color:#FFFF99;color:blue;cursor:pointer'> <u><b> {{i.0}} </b></u> </button>
			</form>
			</center>
			</td>
			
			<td>
			<center>
			<form action ='/model_Profile/' name = 'inputform2'>
			<input type = 'hidden' name ='Account' value = '{{i.4}}'>
			<input type = 'hidden' name ='Model' value = '{{i.1}}'>
			<button type = 'submit' style ='border:0px; background-color:#FFFF99;color:blue;cursor:pointer'> <u><b> {{i.1}} </b></u> </button>
			</form>
			</center>
			</td>
			
			<td>
			{% if i.5 %}
			<p style =' font-size:15px'> <center><b>{{i.2}} &nbsp; &nbsp; &nbsp; ({{i.5}}, &nbsp; {{i.6}}) </b></center></p>
			{% else %}
			<p style =' font-size:15px'> <center><b>{{i.2}} </b></center></p>
			{% endif %}
			</td>
			
			<td>
			
			{% if i.6 %}
			
			<p style =' font-size:15px'> <center><b style = "color:red" >{{i.3}}</b></center></p>
			
			{% else %}
			
			<p style =' font-size:15px'> <center><b>{{i.3}}</b></center></p>
			
			{% endif %}
			
			
			</td>
			
			
			
			
	</tr>
	
	{% endfor %}
	

	</table>
	</div>

	<br>
	<center>  * Average Ratings of multiple tests are reported with 95% confidence intervals
	<br>
	<br>
	<br>
	
	
	
	
	<center>
	
	{% if superuser %}
	
	<form action = "/admin_account/" method = "get" name = "Return to Account Menu">
		
		
		<button name = "Return To Account Menu" type = "submit" value = "HTML">
		Return To Admin Menu
		</button>
		
	</form>
	
	{% else %}
	
	
	<form action = "/account/" method = "get" name = "Return to Account Menu">
		
		
		<button name = "Return To Account Menu" type = "submit" value = "HTML">
		Return To Account Menu
		</button>
		
	</form>
	{% endif %}
	</center>
	<br>

</div>

{%include footer.html%}