{%include header.html%}


<div style =' margin-left: 0% ; margin-top: 130px; margin-right: 0%; margin-bottom: 0px; color:black; overflow-y:hidden; overflow-x:hidden;'  >



<p style = " font-size:18px" >
	
<div style ='padding-left:350px; font-size:20px'>

		<br><br>
		 <b>Account Name:</b> {{ Name_act}} <br>
		<b>Model Name:</b>   {{Name_m}} 
		<p style ='color:red'> <b> Average Model Rating: {{rating}}</b> </p>
		
		{% if rating != 'unrated' %}
			<i style ='font-size:15px; color:Navy'> Metric from -1 (Worst Possible) to 1 (Perfect)</i> <br>
			<i style ='font-size:15px; color:Navy'> On average, a random submission produces a rating of 0</i>
			<br><br>
			<a href="/metric_description/"  style ='font-size:14px; padding-left:85px'>Decription of Metric</a>
		{% endif %}
		
		
	</p>

</div>

<br>	
<center><div>


	<form action = "/model_edit_info/" method = "get" name = "New Test">		
		<button name = "model_edit_info" type = "submit" value = "HTML" style ='width:200px;height:25px'>
		Edit Model Information
		</button>
		
	</form>
	

	
	
	<br>
	
	<p>
		<i>
		To run a new test, please create a new test case:</i> <br>
	</p>
	
	
	<form action = "/casetypeselect/" method = "get" name = "New Test">
		
		
		<button name = "New_Test" type = "submit" value = "HTML" style ='width:200px;height:25px'>
		Select a Test Case
		</button>
		
	</form>
	
	<br><br>
	
	
	
	
	<div style = "border:double 6px; color: #B00000; background-color: #FFFF99; width:500px ">
	<p style = "color :black">
		<i>
		To access an active test, please select a test from the list below:</i> <br>
	</p>
	
	<br>
	
	<form action = "/setactive_test/" method = "get">
	
		
		<select name = 'test_in_active'>
			<option value= '0' >-- Please select your Test --</option>
			
			{% for i in activetest_list %}
				<option> {{i}} </option>
			 {% endfor %}
		
			 
		<input type ='submit' value = 'Submit'/>
		
		</select> 
		
		
	</form>
	
	<br><br>
	</div>

	<br>
	

	
	
	<br>
	
	<div style = "border:double 6px; color: #B00000; background-color:#FFFF99  ;width:500px  ">
	
	
	<p style = "color :black">
		<i>
		To access a completed test, please enter the name of the test below:</i> <br>
	</p>
	
	{% if failure %}
	<P> Invalid Test Entry </p>
  	{% endif %}
	
	
	<br>
	
	<form action = "/nonactive_test/" method = "get">
	
		{% if completedtest %} <input maxlength = '30' type ='text'
                                      name = 'Nonactive_Testin' value ='{{completedtest}}'> 
        {% else %} <input maxlength = '30' type ='text' name = 'Nonactive_Testin'>  
        {% endif %}
		
			 
		<input type ='submit' value = 'Submit'/>
		
		</select> 
		
		
	</form>
	<br>
	
	
	<form action = "/completedtest_info/" method = "get" name = "show completed test info">
		
		
		<button name = "completed test info" type = "submit" value = "HTML">
		Show List of Completed Tests
		</button>
		
	</form>
	
	<br>
	<br>
	</div>

	<br>
	
	
	<br>
	
	
	
	
	<form action = "/account/" method = "get" name = "Return to Account Menu">
		
		
		<button name = "Return To Account Menu" type = "submit" value = "HTML">
		Return To Account Menu
		</button>
		
	</form>
	
<br>
</div>

</div>

{%include footer.html%}

