{%include header.html%}

<div style =' margin-left: 0% ; margin-top: 130px; margin-right: 0%; margin-bottom: 0px; color:black; overflow-y:hidden; overflow-x:hidden;'  >

<div style = 'padding-left:20%;'>

<br>
<p><b>
		Thank you for trying the lost person model rating system. <br>
		Please fill out the following form to enable your registration.<br><br>
		
		Your name, institution name, Email, and website will be used <br>
		to construct a profile that will be provided to other users <br>
		on our leaderboard interface.<br><br>
		
		(*) Required Field.
		
	</b></p>
	<br>
	{% if fail %}
	<div style = 'border:double; width:700px; background-color:#FFFF99'>
	{% else %}
	<div style = 'border:double; width:450px; background-color:#FFFF99'>
	
	{% endif %}
	<br>
	<form action = "/create_account/" method = "get">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Registration Information</b> <br><br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>User Information</i><br>
		
		
		
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;First Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
		{% if fail %} <Input type = "text" name = "FirstName" maxlength = '30' value ='{{Firstname}}'> {% else %} <Input maxlength = '30' type = "text" name = "FirstName">  {% endif %}
		
		{% if firstfail %}&nbsp; <i style ='color:red; font-size:12px'> Invalid Entry </i>   {% endif %}
		<br>
		
		
		
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;Last Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		{% if fail %} <Input type = "text" maxlength = '30' name = "LastName" value ='{{Lastname}}'> {% else %} <Input maxlength = '30' type = "text" name = "LastName">  {% endif %}
		{% if lastfail %}&nbsp; <i style ='color:red;font-size:12px'> Invalid Entry </i>   {% endif %}
		<br>
		
		
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;Email: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		{% if fail %} <Input type = "text" maxlength = '30' name = "Email" value ='{{Email_in}}'> {% else %} <Input type = "text" maxlength = '30' name = "Email">  {% endif %}
		{% if emailfail %}&nbsp; <i style ='color:red;font-size:12px'> Invalid Entry: must only contain leters or numbers in form (_@_._) </i>   {% endif %}
		<br> <br>
		
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>Organization Information</i><br>
		
		
		
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;Institution Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		{% if fail %} <Input type = "text" maxlength = '40' name = "Institution" value ='{{Institution}}'> {% else %} <Input maxlength = '40' type = "text" name = "Institution">  {% endif %}
		{% if Institutionfail %}&nbsp; <i style ='color:red;font-size:12px'> Invalid Entry: must only contain leters, numbers, spaces, and colons </i>   {% endif %}
		<br> 
		
		
		
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Website:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
		{% if fail %} <Input type = "text" maxlength = '50' name = "Website" value ='{{Websitein}}'> {% else %} <Input maxlength = '50' type = "text" name = "Website">  {% endif %}
		{% if Websitein_r %}&nbsp; <i style ='color:red;font-size:12px'> Invalid Entry </i>   {% endif %}
		<br> <br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>Login Information</i><br>
		
		
		
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;Desired Username:&nbsp;&nbsp; 
		{% if fail %} <Input type = "text" maxlength = '30' name = "Username" value ='{{Username}}'> {% else %} <Input maxlength = '30' type = "text" name = "Username">  {% endif %}
		{% if usernamefail %}&nbsp; <i style ='color:red;font-size:12px'> Invalid Entry: must only contain letters and numbers (no spaces) </i>   {% endif %}
		{% if usernamerepeat %}&nbsp; <i style ='color:red;font-size:12px'> Username is unavailable  </i>   {% endif %}
		<br>
		
		
		
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;Password:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
		{% if fail %} <Input maxlength = '30' type = "password" name = "Password1" value ='{{Password1}}'> {% else %} <Input maxlength = '30' type = "password" name = "Password1">  {% endif %}
		{% if Pass1fail %}&nbsp; <i style ='color:red;font-size:12px'> Invalid Entry </i>   {% endif %}
		<br>
		
		
		
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;Repeat Password: &nbsp;&nbsp;
		{% if fail %} <Input maxlength = '30' type = "password" name = "Password2" value ='{{Password2}}'> {% else %} <Input maxlength = '30' type = "password" name = "Password2">  {% endif %}
		{% if Pass2fail %}&nbsp; <i style ='color:red;font-size:12px'> Invalid Entry </i>   {% endif %}

		<br><br>
		
		<center> {% if passsyncfail %}<i style ='color:red;font-size:12px'> Passwords do not match </i>   {% endif %} </center>
		
		<br>
		
		 <b style ='padding-left:175px'> User Verification </b> 
		<br>
		<br>
		
		<img style = 'padding-left:50px' src = "/media/Captcha1.png" width ='374' height = '355'  >
		
		
		<br><br>
		
		<div style = 'padding-left:120px'>Please transcribe the image text below:<br> </div>
		<br>
		<div style = 'padding-left:160px'> <Input  maxlength = '30' type = "text" name = "captcha" > </div>
		
		{% if captchafail %}&nbsp;<i style ='color:red;font-size:12px;padding-left:185px'> Invalid Image Match</i> <br>{% endif %}
		
		<br>
		
		<div style = 'padding-left:210px'> <input type = "Submit"> </div>
		
		<br><br>
		
<!--		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;
		Beta Key: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;
		<Input maxlength = '30' type = "password" name = "Betakey" > {% if betafail %}&nbsp; <i style ='color:red;font-size:12px'> Invalid Beta Key</i>    {% endif %}
		<br><br>
-->		
	</form>
	</div>
	<br>	
	<form action = "/main/" method = "get" name = "Return to Main Menu">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;
		<button name = "Return To Main Menu" type = "submit" value = "HTML">
		Return To Main Menu
		</button>
	</form>
	
	
	</div>



<br><br>
	
	








</div>

{%include footer.html%}
	