{% include "header.html" %}


<div style =' margin-left: 0% ; margin-top: 130px; margin-right: 0%; margin-bottom: 0px; color:black; overflow-y:hidden; overflow-x:hidden;'  >


<center>    

    <br><br>
        
    <h1 style ='color:red'>     Model Rating: {{rating}} </h1>
    <i style ='font-size:15px; color:Navy'> Metric from -1 (Worst Possible) to 1 (Perfect)</i> <br>
    <i style ='font-size:15px; color:Navy'> On average, a random submission produces a rating of 0</i>
    <br><br>
            <a href="/metric_description_nonactive/"  style ='font-size:14px;'>Decription of Metric</a>
    <br><br>
    
    
        
</center>
<br>
{% if showfind %}
<hr color = 'Navy'>


<center>
<br><br>
    <p> <b>The (Lat,Lon) position for the actual find location was: {{find_pt}}</b> </p> 
    <p> <b> This mapped to the grid cell {{find_grid}} on your submitted grayscale image</b> </p>
    <br>
    <b>The Actual find location is plotted below at point "F":</b>

</center>
<br>
<center>
    {% include 'map.html' with dynamic_map_id='dynamic_map_find' showfind=True %}
</center>
<br><br>

<hr color = 'Navy'>
<br><br>
{% endif %}
{% include "case.html" %}

<br>


<br><br>

<center>

<form action = "/model_menu/" method = "get" name = "Return to Model Menu">
        
        <button name = "Return To Model Menu" type = "submit" value = "HTML">
        Return To Model Menu
        </button>   
</form>
<br/>
<form action = "/completedtest_info/" method = "get" name = "show completed test info">
    
    
    <button name = "completed test info" type = "submit" value = "HTML">
    Return to list of completed tests
    </button>
    
</form>
</center>


<br><br><br>

{% include "footer.html" %}