{% extends 'base.html' %}

{% block title %}
Reset Password{{ block.super }}
{% endblock %}

{% block content %}
    {{ block.super }}
    <div class='panel'>
        {% if error %}
            <p class='error'>{{ error }}</p>
        {% endif %}
        <h4>Reset Your Password</h4>
        <form action='/password_email/' method='post'>
            {% csrf_token %}
            <p>
                An email containg your temporary password will be sent to you.
                Once you are able to log in again, you are advised to change
                your password as soon as possible.
            </p>
            Username: <input maxlength='30' name='Username'/>
            <button>Submit</button>
        </form>
    </div>
    <a href='/main/'>Return to main menu</a>
{% endblock %}
