{% include "header.html" %}


<div style =' margin-left: 0% ; margin-top: 130px; margin-right: 0%; margin-bottom: 0px; color:black; overflow-y:hidden; overflow-x:hidden;'  >

<center><div>



	<p>

             Password Reset
		<br>

	</p>

	<br>

	<div style = 'border:double; width:300px; background-color:#FFFF99'>
	<form action = "/password_email/" method = "get" name = "Email">
		<br>
		Username: <Input maxlength = '30' type = "text" name = "Username"> <br>
		<input type = "Submit">
		</p>
		<br>
		<br>
		
	</form>
	</div>

	<br><br>


</div>	</center>


</div>


{% include "footer.html" %}
