{% extends 'base.html' %}

{% block title %}
Terms of Use{{ block.super }}
{% endblock %}

{% block content %}
    {{ block.super }}
    <div class='panel'>
        <h4>Terms of Use</h4>
        <div class='description'>
            <p>
                The case data on this website belongs to the International
                Search & Rescue Incident Database, and is used by permission of
                dbS Productions, LLC only for the purpose of testing models of
                lost person behavior.  You agree not to redistribute the case
                data or use it for other purposes.  (If you wish to analyze the
                case data, dbS Productions encourages you to contact them
                directly for permission.)
            </p>
            <p>
                This website is only for testing and ranking models of lost
                person behavior.  A good score does not necessarily mean that
                model will work well in an actual search.  Actual searches
                should be run by trained incident commanders.  Models should be
                selected carefully, with attention to what variables they
                include and omit, and tempered with local and case-specific
                expertise.
            </p>
            <p>
                You agree to protect your login and limit access to current
                members of your team, and to report account or data breaches.
            </p>
        </div>
        <a href='/account_reg/'>Accept and continue</a>
    </div>
    <a href='/main/'>Return to main menu</a>
{% endblock %}
