{% include "header.html" %}


<div style =' margin-left: 0% ; margin-top: 130px; margin-right: 0%; margin-bottom: 0px; color:black; overflow-y:hidden; overflow-x:hidden;'  >

<center><div>



    <p>

                Temporary Password
        <br>

    </p>

    <br>
      <p> Welcome </p>
      <p> enter the temporary password given to you</p>
    <div style = 'border:double; width:300px; background-color:#FFFF99'>
    <form action = "/email confirmation /" method = "get" name = "Email">
      <INPUT TYPE="click" VALUE="Send">
        </p>
        <br>
        <br>
        <a href="/Emaillink /">Emaillink</a>
    </form>
    </div>

    <br><br>


</div>    </center>


</div>


{% include "footer.html" %}