{% include "header.html" %}


<div style =' margin-left: 0% ; margin-top: 120px; margin-right: 0%; margin-bottom: 0px; color:black; overflow-y:hidden; overflow-x:hidden;'  >

<div style = 'padding-left:250px;' >
<br>
	<p style = " font-size:18px" >
		<b>Account Name:</b> {{ Name_act}}
		<br><b>Model Name:</b>   {{Name_m}}		
	</p>

	<p><i>A new testing scenario has been selected!</i><br>
      Review the case, and click the button at the bottom to accept the scenario.
	</p>
</div>



<div style = 'padding-left:25px;' >
	<table border='0'>
	<tr>
	<td>
		<image src = '{{MAP}}' 
               title= '{{MAP}}'
               style = 'border:solid; border-width:5px;float:left'>
		
		<p style='clear:left'>
		<center>
		<a href = 'http://code.google.com/apis/maps/terms.html'>Google Maps API - Terms<a>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a href ='http://www.google.com/privacy.html'>Google Privacy Page<a>
		<p> By using this service you are agreeing to be bound by
		Google's Terms of Use</p>
        </center>		</p>
	</td>
		
	<td>
	<p style = "background-color:#FFFF99 ; border: double; 
                width:400px; padding-left:25px">
	<br>
		<b>Test Case Name:</b> {{name}} 
		<br><br>	
		
		<b>Required Coordinate System:</b>  WGS_84<br>
		<br>
		
		<b><u>Subject(s) Information:</b></u><br>
		<br>
		<b>Subject age:</b> {{age}}<br>
		<b>Subject sex:</b> {{sex}}<br>
		<b>Subject Category:</b> {{subject_category }}<br>
		<b>Scenario: </b>{{scenario    }}<br>
		<b>Subject Sub-Category:</b> {{subject_subcategory }}<br>
		<b>Subject Activity:</b> {{subject_activity   }}<br>
		<b>Group Type:</b> {{group_type}}<br>
		<b>Number Lost:</b> {{number_lost  }}<br>
		
		
		<br>
		<b><u>Search Region Information:</b></u><br>
		<br>
		<b>Terrain: </b>{{terrain  }}<br>
		<b>Ecoregion Domain: </b>{{ecoregion_domain  }}<br>
		<b>Ecoregion Division: </b>{{ecoregion_division }}<br>
		<b>Total hours before Located: </b>{{total_hours }}<br>
		<br>
		
		<b>Last Known Position:</b> {{LKP}}<br>
		<b># Horizontal cells: </b>{{horcells}}<br>
		<b># Vertical cells: </b>{{vercells}}<br>
		<b>Total # cells: </b>{{totcells}}<br>
		<b>Cell width:</b> {{cellwidth}} meters<br>
		<b>Search Region width:</b> {{regionwidth}} Kilometers<br>
		
		<br>		
		<b><u>Search Region Boundary Points:</b></u><br>
		<br>
		<b>Upper Lat:</b> {{uplat}}<br>
		<b>Lower Lat:</b>  {{downlat}}<br>
		<b>Right Lon:</b>&nbsp;  {{rightlon}}<br>
		<b>Left Lon:</b> &nbsp;&nbsp;  {{leftlon}}<br>
		<br>	
		</p>
	</td>
	</tr>
	</table>	
	
</div>	


<br><br>	
<div style = 'padding-left:375px;' >	
	

	<form action = "/create_test/" method = "get" name = "Accept Test Scenario">
		
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<button name = "Accept Test scenario" type = "submit" value = "HTML">
		Accept Test Scenario
		</button>
		
	</form>
	
	<br>
	
	<form action = "/model_menu/" method = "get" name = "Return to Model Menu">
		
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<button name = "Return To Model Menu" type = "submit" value = "HTML">
		Return To Model Menu
		</button>
		
	</form>
	
<br>
</div>
</div>


{% include "footer.html" %}