{% include "header.html" %}


<div style =' margin-left: 0% ; margin-top: 130px; margin-right: 0%; margin-bottom: 0px; color:black; overflow-y:hidden; overflow-x:hidden;'  >

<center><div>

<p style = " font-size:18px" >

		<br>
		<b>Administration: Test Cases</b> <br><br>
		
	</p>

	
	<form action = "/new_testcase/" method = "get" name = "New Testcase">
		

		<button name = "New Testcase" type = "submit" value = "HTML">
		Upload New Test Cases
		</button>
		
	</form>
	
	<br><br>
	
	<p style = " font-size:15px" >
		<b><i>Existing Test Cases: </i> </b><br><br>
		
	</p>
	
	
	
	<table border = "1" style = " font-size:15px; width:1000px"  bgcolor = '#FFFF99'>
	<tr>
	<th> ID </th>
	<th> Name </th>
	<th> Age </th>
	<th> Sex </th>
	<th> Boundary Points (Lat, Lon) </th>
	<th> Find Cell (X,Y)</th>
	<th> Layers Uploaded</th>
	</tr>
	
	
	{% for i in case_list %}
	<tr style = " font-size:12px" >
	
	<td>{{i.0}}</td> 
	<td>{{i.1}}</td>
	<td>{{i.2}}</td>
	<td>{{i.3}}</td>
	<td>{{i.4}}</td>
	<td>{{i.5}}</td> 
	<form  name ='data' action = "/UploadLayers/">
	<Input  type = 'hidden' name = "id" value = {{i.0}} >
	<td><button type = 'submit' style ='border:0px; background-color:#FFFF99;color:blue;cursor:pointer'> <u><b> {{i.6}} </b></u> </button></td>
	</form>
	</tr>
	
	{% endfor %}
	

	</table>


	<br>
	<br>
	
	
	<form action = "/exportcaselibrary/" method = "get" name = "exportcaselibrary">
		
		
		<button name = "Return To Admin Menu" type = "submit" value = "HTML">
		Export Case Library
		</button>
		
	</form>
	
	
	
	<br><br>
	
	
	
	<form action = "/admin_account/" method = "get" name = "Return to Admin Menu">
		
		
		<button name = "Return To Admin Menu" type = "submit" value = "HTML">
		Return To Admin Menu
		</button>
		
	</form>
	
	<br>

</div>



{% include "footer.html" %}