{% extends 'base.html' %}

{% block title %}
Select a Case{{ block.super }}
{% endblock %}

{% block content %}
    <div class='panel'>
        {% if error %}
            <p class='error'>{{ error }}</p>
        {% endif %}
        <form action='/NextSequentialTestSwitch/'>
            <button>Next Sequential Test</button>
        </form>
        <p><em>To select a case by type: </em></p>
        <form action='/TesttypeSwitch/' method='post'>
            {% csrf_token %}
            <select name='typein2'>
                <option value='0'>-- Please select your test type --</option>
                {% for type in types %}
                    <option>{{ type }}</option>
                {% endfor %}  
            </select>
            <button>Submit</button>
        </form>
        <p><em>To select a case by name: </em></p>
        <form action='/TestNameSwitch/' method='post'>
            {% csrf_token %}
            <select name='casename'>
                <option value='0'>-- Please select your case name --</option>
                {% for name in names %}
                    <option>{{ name }}</option>
                {% endfor %} 
            </select>
            <button>Submit</button>
        </form>
    </div>
    <a href='/model_menu/'>Return to model menu</a>
{% endblock %}
