<!DOCTYPE HTML Public "-//W3C//DTD HTML 4.01//EN">
<html lang = "en">

{% include "header.html" %}


<div style =' margin-left: 0% ; margin-top: 130px; margin-right: 0%; margin-bottom: 0px; color:black; overflow-y:hidden; overflow-x:hidden;'  >

<center><div>

	<br><br>

		<br>
		<h1 style = 'color:navy'><b><u>Administration: Traffic Menu</b> </u></h1><br><br>
		
	
		<br>
		<b style ='font-size:20px'> Main Menu hits: {{mainhits}} </b>

	
		<br><br><br>
	
	<h1>
		<b><i>Account Access Breakdown: </i> </b><br>
	</h1>
	<br>
		<i style = 'color:navy' >Blue indicates that the account is active </i> <br>
		<i style = 'color:#780000' >Red indicates that the account was deleted </i> <br>
	
	<br><br>
	
	
	<table border = "1" style = " font-size:20px; width:1000px"  bgcolor = '#FFFF99'>
	<tr>
	<th> Username </th>
	<th> Institution </th>
	<th> Login Sessions </th>
	<th> Active <br> Models </th>
	<th> Deleted <br>Models </th>
	<th> Total (Act + Del)<br> Completed Cases </th>
	</tr>
	
	
	{% for i in inputlst %}
	<tr style = " font-size:18px;color:navy" >
		{% for j in i %}
			<td>
		<center>	{{j}} </center>
			</td>
		{% endfor %}
	</tr>
	
	{% endfor %}
	

	{% for i in deletedlst %}
	<tr style = " font-size:18px;color:#780000" >
		{% for j in i %}
			<td>
		<center>	{{j}} </center>
			</td>
		{% endfor %}
	</tr>
	
	{% endfor %}
	
	</table>


	<br>
	<br>
	
	
	
	
	<br><br>
	
	
	
	<form action = "/admin_account/" method = "get" name = "Return to Admin Menu">
		
		
		<button name = "Return To Admin Menu" type = "submit" value = "HTML">
		Return To Admin Menu
		</button>
		
	</form>
	
	<br>

</div>



	
{% include "footer.html" %}