<!DOCTYPE HTML Public "-//W3C//DTD HTML 4.01//EN">
<html lang = "en">

<head>
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
</head>


<body  marginwidth="0px" marginheight="0px" leftmargin="0px"  topmargin="0px" style ='background : url("/media/background.jpg")' npadding ='0px' height = '100%'  style ='overflow-x: hidden; overflow-y:scroll' >

<div style = 'width: 1050px; margin-left:auto;margin-right:auto;  background : url("/media/lightgreen.jpg") ;padding-left:0px'>
<div style ='border:double; color:black; border-width:10px; position:absolute; top:0; width: 1030px;background-color:#780000;height: 110px; overflow-x:hidden;overflow-y:hidden'>
<div style = 'margin-left: 30px ; margin-top: 0px;margin-right: 30px; margin-bottom: 0px; font-size:10px'  >
	<h1 style = 'color :white'>
		
		<div style ='float:left; border:double;color:white;height:67px'> <img src = "/media/mason_logo.gif" width ='107' height = '67'  > </div>
		<div style ='float:right; border:double;color:white;height:67px'> <img src = "/media/mason_logo.gif" width ='107' height = '67' > </div>
		
		
		<center>
		George Mason University:<br>
		Lost Person Model Rating System<br>
		</center>
		<div style = 'margin-top:18px'>
		<div style ='font-size:14px;padding-left:260px; position:absolute; width:95%'>
		[<a href="/main/" style ='color:white'> Log Out </a> | <a href="/hyper_leaderboard/" style ='color:white'> Leaderboard </a> ]
		&nbsp;&nbsp;&nbsp;&nbsp;<i>*Test Instructions*</i>&nbsp;&nbsp;&nbsp;&nbsp;
		[  <a href="https://github.com/ctwardy/Pmap-Score/issues?sort=created&direction=desc&state=open" style ='color:white' target="_blank" > Issue Tracker </a> | <a href="/help/" style ='color:white' target="_blank"> Help </a>]</div>
		</div>
				
	</h1>
</div>	
</div>



<div style =' margin-left: 0% ; margin-top: 130px; margin-right: 0%; margin-bottom: 0px; color:black; overflow-y:hidden; overflow-x:hidden;'  >




<br>
<div style = 'padding-left:10%;' >
<br><br>
<div style = 'border:double; width:700px; background-color:#FFFF99'>
<div style = 'padding-left:10%; padding-right:10%' >
<br>

<div style = 'padding-left:100px'><h1> Grid Alignment Instructions </h1></div><br>
<b> 	
  <p>
   The <i>first time</i> you test a new model, you have to complete a
   grid alignment test, to make sure your model knows which way is
   up.</p>

  <p>Given the (lat, lon) boundary points for the region, you must
  create a regular grid of 5001 x 5001 rectangular cells. We will then
  give you 9 (lat, lon) test points. You must return the corresponding
  grid coordinates: </p>
	<br>
	
	<div style = 'padding-left:100px'> <img src = "/media/grid_example.png" width ='271' height = '270'> </div>
	<br> <br>
	
	<b>Grid cell indexing for the maps behaves so that the upper left corner is (0,0). 
	The upper right corner is (0,5000). The bottom left corner is (5000, 0). 
	The bottom right corner is (5000, 5000). The LPS is located in the center cell of
	the grid, (2500,2500). <br><br></b>
	
	<b style = "color:#780000">
	Note: We use a Great Sphere approximation of the Earth.</b><br><br>
</b>

<br>	
</div>	
</div>
</div>
	<br>


<div style = 'padding-left:20%;' >
<div style = 'padding-left:75px'>
<br>
<form action = "/test_active/" method = "get" name = "Continue">
		
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<button name = "Continue" type = "submit" value = "HTML">
		Continue with Test
		</button>
		
</form>

<br>
<form action = "/model_menu/" method = "get" name = "Return to Model Menu">
		
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<button name = "Return To Model Menu" type = "submit" value = "HTML">
		Return To Model Menu
		</button>
		
</form>


</div>
</div>
</div>

<br><br><br>

	
	<hr color = 'Navy'>
	<p>
	
		 <center ><i><b>GMU: C4I Center --- Mr. Nathan Jones (njonesh@gmu.edu) -- Dr. Charles Twardy ----- (Funded by the National Science Foundation)</b></i></center>
	</p>
	<br>
	
</div>
	
</body>
</html>
