{%include header.html%}


<div style =' margin-left: 0% ; margin-top: 130px; margin-right: 0%; margin-bottom: 0px; color:black; overflow-y:hidden; overflow-x:hidden;'  >


<center><div>


	<h1 style ='color:red'><b>
		Image upload failure
	</b></h1>
	
	
	<br><br>
	
	<p style ='color:red'> The image you attempted to upload is not of the proper 5001 x 5001 demensions</p>
	<br><br>
	
	<image src = '{{grayscale}}' style = 'border:solid; border-width:5px' height = '700px' width ='700px'>
	
	<br><br>
	<br>
	
	
	
	
	<br>
	
	<form action = "/denygrayscale_confirm/" method = "get" name = "denygrayscale_confirm">
		
		<button name = "Remove Submission" type = "submit" value = "HTML">
		Return to Upload Menu
		</button>
	</form>
	
	<br>	
	

</div>
</div>	</center>

	


{%include footer.html%}